/* RESTAURANT component */
.restaurant {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.restaurant__title {
  font: bold 36px / 42px "Roboto Bold", sans-serif;
  color: #000000;
}
.restaurant__rating {
  margin-left: 30px;
  margin-right: 26px;
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  color: #FFC107;
}
.restaurant__rating::before {
  content: url(../ico/star.svg);
  margin-right: 7px;
}
.restaurant__cost,
.restaurant__tag {
  display: inline-flex;
  align-items: center;
}
.restaurant__cost::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.cards {
  overflow: hidden;
}
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -24px;
  padding: 4px;
}
.cards__item {
  margin-right: 24px;
  margin-bottom: 24px;
  width: calc(100% / 3 - 24px);
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.cards__img {
  object-fit: cover;
  height: 212px;
}
.cards__footer {
  padding: 23px 23px 30px 23px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
.cards__title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cards__text {
  margin-bottom: 25px;
  min-height: 63px;
  max-height: 63px;
  color: #8C8C8C;
  overflow: hidden;
}
.cards__total {
  display: flex;
  align-items: center;
}
.cards__cost {
  margin-left: 32px;
  font: 700 20px / 32px "Roboto Bold", sans-serif;
  color: #000000;
}


.btn--rest {
  font-family: "SF Pro Display Regular";
}
.btn__ico--rest {
  margin-right: 0;
  margin-left: 4px;
}


@media (max-width: 900px) {
  .cards__item {
    width: calc(100% / 2 - 24px);
  }
}
@media (max-width: 620px) {
  .restaurant__title {
    font-size: 30px;
    line-height: 36px;
  }
  .cards__item {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .btn__name--hidden {
    display: none;
  }
}